* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto auto auto;
  border-bottom: 1px solid black;
}
nav h3 {
  font-size: 25px;
}
nav #cartlogo {
  cursor: pointer;
}
nav .menu-btn {
  width: 30px;
  display: none;
}
nav .menu-btn .btn_line {
  width: 100%;
  height: 8px;
  margin: 5px;
  background: black;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.nav_links li {
  list-style: none;
}
.nav_links a {
  color: #b6bcc8;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #ff7d1a;
}

.main_area {
  width: 900px;
  height: 450px;
  margin: auto;
  display: flex;
}
.main_area .mini_area1 {
  width: 50%;
  height: 450px;
  position: relative;
}
.main_area .mini_area1 .product1 {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 70px;
  top: 20px;
}
.main_area .mini_area1 .product1 .previous {
  position: absolute;
  top: 130px;
  left: 0px;
  cursor: pointer;
}
.main_area .mini_area1 .product1 .next {
  position: absolute;
  top: 130px;
  right: 0px;
  cursor: pointer;
}
.main_area .mini_area1 .product1 img {
  width: inherit;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease-out;
}
.main_area .mini_area1 .thumbnails {
  position: absolute;
  top: 350px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.main_area .mini_area1 .thumbnails .thumbnails1 {
  width: 80px;
  height: 84px;
  background: url("/images/image-product-1-thumbnail.jpg");
  background-position: center;
  background-size: cover;
}
.main_area .mini_area1 .thumbnails .thumbnails2 {
  width: 80px;
  height: 84px;
  background: url("/images/image-product-2-thumbnail.jpg");
  background-position: center;
  background-size: cover;
}
.main_area .mini_area1 .thumbnails .thumbnails3 {
  width: 80px;
  height: 84px;
  background: url("/images/image-product-3-thumbnail.jpg");
  background-position: center;
  background-size: cover;
}
.main_area .mini_area1 .thumbnails .thumbnails4 {
  width: 80px;
  height: 84px;
  background: url("/images/image-product-4-thumbnail.jpg");
  background-position: center;
  background-size: cover;
}
.main_area .mini_area2 {
  width: 50%;
  height: 450px;
  position: relative;
}
.main_area .mini_area2 h3 {
  color: #ff7d1a;
  position: absolute;
  left: 50px;
  top: 20px;
}
.main_area .mini_area2 h2 {
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 30px;
}
.main_area .mini_area2 .p1 {
  position: absolute;
  left: 50px;
  top: 130px;
  color: #b6bcc8;
  line-height: 1.5;
}
.main_area .mini_area2 .p2 {
  position: absolute;
  left: 50px;
  top: 230px;
  font-size: 30px;
}
.main_area .mini_area2 .p3 {
  position: absolute;
  left: 200px;
  top: 235px;
  font-weight: 700;
  padding: 2px 5px;
  background: #FFEDE0;
  color: #ff7d1a;
}
.main_area .mini_area2 .p4 {
  position: absolute;
  left: 50px;
  top: 280px;
  font-size: 15px;
}
.main_area .mini_area2 .plus_minus {
  position: absolute;
  left: 50px;
  top: 320px;
  background: #ffede0;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.main_area .mini_area2 .plus_minus svg {
  cursor: pointer;
}
.main_area .checkout {
  position: absolute;
  left: 230px;
  top: 320px;
  width: 180px;
  height: 50px;
  background: #ff7d1a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}
.main_area .checkout svg {
  color: white;
  cursor: pointer;
}
.main_area .checkout button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}
.main_area .cart {
  width: 250px;
  height: 250px;
  background: whitesmoke;
  position: absolute;
  top: 150px;
  right: 250px;
  visibility: hidden;
  z-index: 50;
}
.main_area .cart .check {
  position: absolute;
  left: 35px;
  bottom: 30px;
  width: 180px;
  height: 50px;
  background: #ff7d1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.main_area .cart .price {
  position: absolute;
  left: 100px;
  top: 130px;
  background: white;
  width: 20%;
  color: #ff7d1a;
}
.main_area .cart .dollarsign {
  position: absolute;
  left: 80px;
  top: 130px;
}
.main_area .cart .p5 {
  font-size: 17px;
}
.main_area .on.cart {
  visibility: visible;
}

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }

  nav {
    width: 100%;
    margin: 0;
  }
  nav .nav_links {
    visibility: hidden;
  }
  nav .nav_links.active {
    background: whitesmoke;
    visibility: visible;
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 1;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-out;
  }
  nav .nav_links.active a {
    color: #000;
  }
  nav .menu-btn.active .btn_line1 {
    transform: rotate(45deg) translate(7px, 7px);
  }
  nav .menu-btn.active .btn_line2 {
    opacity: 0;
  }
  nav .menu-btn.active .btn_line3 {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  nav #cartlogo {
    position: absolute;
    right: 130px;
  }
  nav #profile {
    position: absolute;
    right: 30px;
  }
  nav h3 {
    font-size: 25px;
    position: absolute;
    left: 70px;
  }
  nav .menu-btn {
    width: 30px;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 0px;
  }
  nav .menu-btn .btn_line1,
nav .menu-btn .btn_line2,
nav .menu-btn .btn_line3 {
    width: 100%;
    height: 5px;
    margin: 5px;
    background: black;
  }

  .main_area {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 100px;
    height: 800px;
  }
  .main_area .cart {
    position: absolute;
    right: 0px;
    top: 30px;
    width: 100%;
    border-radius: 10px;
  }
  .main_area .cart .mydiv {
    width: 100%;
  }
  .main_area .cart .mydiv .image {
    width: 50px;
    height: 50px;
  }
  .main_area .cart .check {
    position: absolute;
    left: 100px;
  }
  .main_area .cart .price {
    position: absolute;
    left: 200px;
    top: 130px;
    background: white;
    width: 20%;
    color: #ff7d1a;
  }
  .main_area .thumbnails {
    display: none;
  }
  .main_area .thumbnails .thumbnails1, .main_area .thumbnails .thumbnails2, .main_area .thumbnails .thumbnails3, .main_area .thumbnails .thumbnails4 {
    display: none;
  }
  .main_area .mini_area1 {
    width: 100%;
    position: relative;
  }
  .main_area .mini_area1 .product1 {
    width: 100%;
    position: absolute;
    left: 0px;
  }
  .main_area .mini_area1 .product1 .product1 img {
    width: 100%;
  }
  .main_area .mini_area1 .product1 .previous {
    position: absolute;
    top: 130px;
    left: 0px;
    cursor: pointer;
  }
  .main_area .mini_area1 .product1 .next {
    position: absolute;
    top: 130px;
    right: 0px;
    cursor: pointer;
  }
  .main_area .mini_area2 {
    width: 100%;
    height: 800px;
  }
  .main_area .mini_area2 h3 {
    position: absolute;
    left: 20px;
    top: 50px;
  }
  .main_area .mini_area2 h2 {
    position: absolute;
    left: 20px;
    top: 80px;
  }
  .main_area .mini_area2 .p1 {
    position: absolute;
    left: 20px;
    top: 170px;
  }
  .main_area .mini_area2 .p2 {
    position: absolute;
    left: 20px;
    top: 290px;
  }
  .main_area .mini_area2 .p3 {
    position: absolute;
    left: 170px;
    top: 300px;
  }
  .main_area .mini_area2 .p4 {
    position: absolute;
    left: 260px;
    top: 305px;
    font-size: 18px;
    text-decoration: line-through;
  }
  .main_area .mini_area2 .plus_minus {
    width: 80%;
    position: absolute;
    left: 30px;
    top: 350px;
  }
  .main_area .mini_area2 .checkout {
    position: absolute;
    left: 30px;
    top: 420px;
    width: 80%;
  }
}/*# sourceMappingURL=main.css.map */